@model Twitter.App.Models.ViewModels.User.UserProfileViewModel
<div class="container">
    <div class="jumbotron container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="@Model.ProfileImageBase64" class="userProfileImage"/>
                <h1>@Model.Username</h1>
            </div>
            <div class="col-lg-8">
                <ul class="inline stats">
                    <li>
                        <span>
                            @Ajax.ActionLink(" ", "Tweets", "Users", new { username = Model.Username }, new AjaxOptions
                            {
                                UpdateTargetId = "profileAjaxContainer",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            })
                        </span>
                        Tweets
                    </li>
                    <li>
                        <span><a href="@Url.Action("Following", "Users", new {username = @Model.Username})">@Model.FollowingCount</a></span>
                        Following
                    </li>
                    <li>
                        <span> <a href="@Url.Action("Followers", "Users", new {username = @Model.Username})">@Model.FollowersCount</a></span>
                        Followers
                    </li>
                    <li>
                        <span><a href="@Url.Action("Favourites", "Users", new {username = @Model.Username})">@Model.FavouritesCount</a></span>
                        Favourites
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            @Ajax.ActionLink("Follow", "Follow", "Users", new { username = @Model.Username }, new AjaxOptions()
            {
                HttpMethod = "POST"
            })
        </div>
    </div>
    <div class="row profileAjaxContainer">
        <div class="col-lg-4">
           
        </div>
        <div class="col-lg-8">
            @foreach (var tweet in @Model.Tweets)
            {
                Html.RenderPartial("~/Views/Tweets/_TweetsPartial.cshtml", tweet);
            }
        </div>
    </div>
</div>
