@model Twitter.App.Models.ViewModels.Tweet.RetweetViewModel

<div class="modal fade" id="retweetModal" tabindex="-1" role="dialog" aria-labelledby="retweetModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="retweetModalLabel">Retweet</h4>
            </div>
            @using (Html.BeginForm("Retweet", "Tweets", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        @Html.EditorFor(m => m.Content, new { htmlAttributes = new
                        {
                            @class = "form-control", rows = "5", placeholder = "Add a comment"
                        }})
                        @Html.HiddenFor(m => m.TweetId)
                    </div>
                    <div class="row retweet-tweetShow">
                        <div class="col-md-3 thumbnail">
                            <img src="@Model.UserPicture" alt="@Model.Username" />
                        </div>
                        <div class="col-md-9">
                            <p>@Model.Username</p>
                            <p>@Model.TweetContent</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-primary">Retweet</button>
                </div>
            }
        </div>
    </div>
</div>