@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @this.User.Identity.GetUserName()
                </a>
                <ul class="dropdown-menu" role="menu">

                    <li>
                        @Html.ActionLink(" My profile", "Profile", "Users",
                                 new {username = @User.Identity.GetUserName()},
                                 new {@class = "fa fa-user"})
                    </li>
                    <li>@Html.ActionLink(" Manage profile", "Index", "Manage", null, new { @class = "fa fa-wrench" })</li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="fa fa-sign-out"> Logout</a></li>
                </ul>
            </li>
            <li>
                @Ajax.ActionLink(" Tweet", "Tweet", "Tweets", null, new AjaxOptions
                {
                    UpdateTargetId = "tweetModalContainer",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    OnComplete = "OnCreateTweetModal"
                }, new { @class = "fa fa-pencil", id = "tweetBtn" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}